<header id="masthead" class="site-header">
  {%- unless page.url == '/' -%}
  <a class="site-title" href="{{ '/' | absolute_url }}">{{ site.title }}</a>
  {%- endunless -%}

  <input id="menu-toggle" type="checkbox" />
  <label for="menu-toggle">Menu</label>

  <nav class="main-menu">
    {%- assign menu = site.data.menu | where:"lang", page.lang -%}
    {%- assign i = menu | map: "items" -%}

    {% for item in i[0] %}
    <a {% if item.external %}href="{{ item.url }}" rel="external" target="_blank"{% else %}href="{{ item.url | relative_url }}"{% endif %}>{{ item.title }}</a>
    {% endfor %}
  </nav>
</header>
