html {
  box-sizing: border-box;
}

*,
*::before, *::after {
  box-sizing: inherit;
  outline: none;
  box-shadow: none;
}

body {
  background: $color-background;
  color: $color-text;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
}

/*
  # Text Elements
*/

strong, b {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

p, ul, ol, dl,
table, blockquote, pre,
audio, video, embed, iframe, object,
h1, h2, h3, h4, h5, h6,
%vertical-rhythm {
  margin-bottom: $spacing-unit;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

// Headings
h1, h2, h3, h4, h5, h6, {
  font-weight: 600;
  text-align: center;

  &::after {
    content: " ";
    display: block;
    width: 75px;
    height: 2px;
    background-color: $color-accent;
    border-radius: 2px;
    margin: $spacing-unit / 2 auto;
  }
}

h1 {
  @include relative-font-size(1.75);
  margin-top: $spacing-unit * 2;
}

h2 {
  @include relative-font-size(1.5);
  margin-top: $spacing-unit * 6;
}

h3 {
  @include relative-font-size(1.25);
}

h4 {
  @include relative-font-size(1);
}

h5 {
  @include relative-font-size(0.875);
}

h6 {
  @include relative-font-size(0.75);
}

// Links
a {
  color: inherit;
  text-decoration: none;
  transition: color 0.15s linear;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

// Tables
table {
  width: 100%;

  thead {
    text-align: left;
    font-weight: 700;
  }

  th, td {
    padding-top: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 2;
    border-bottom: 1px solid rgba($color-accent, 0.1);
  }
}

// Forms
label {
  @include relative-font-size(0.875);
  font-weight: 700;
  display: block;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  font: inherit;
  color: inherit;
  background: inherit;
  -webkit-appearance: none;
  border: none;
  border-bottom: 2px solid $color-details;
  transition: border-bottom-color 0.25s ease-in-out;

  &:focus,
  &:active {
    border-bottom-color: $color-accent;
  }
}

input {
  width: 350px;

  @include on-palm {
    width: 100%;
  }
}

textarea {
  width: 600px;
  resize: none;
  height: 150px;

  @include on-palm {
    width: 100%;
  }
}

button {
  font: inherit;
  -webkit-appearance: none;
  border: 2px solid $color-details;
  border-radius: none;
  color: $color-details;
  font-weight: 700;
  background: inherit;
  padding: $spacing-unit / 4 $spacing-unit / 2;
  transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out;

  @include on-palm {
    width: 100%;
    padding: $spacing-unit / 2;
  }

  &:hover,
  &:focus {
    color: $color-accent;
    border-color: $color-accent;
    cursor: pointer;
  }
}
