/*
  # Basic Structure
*/
#site {
  @extend %wrapper;
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;

  #masthead {
    align-self: flex-start;
    justify-content: flex-start;
  }

  #content {
    margin-top: auto;
  }

  #colophon {
    margin-top: auto;
  }
}

/*
  # Site Header
    Website branding and main navigation.
*/
.site-header {
  width: 100%;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  display: flex;
  flex-flow: row wrap;
  @include relative-font-size(0.75);

  .site-title {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  #menu-toggle,
  label[for="menu-toggle"] {
    display: none;
  }

  .main-menu {
    margin-left: auto;
    margin-right: auto;

    @include on-palm {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }

    a {
      text-transform: uppercase;
      letter-spacing: 0.3em;

      &:not(:first-child) {
        margin-left: $spacing-unit / 2;
      }

      @include on-palm {
        display: block;
        text-align: center;
        padding-top: $spacing-unit / 2;
        padding-bottom: $spacing-unit / 2;

        &:not(:first-child) {
          margin-left: 0;
        }
      }
    }
  }

  @include on-palm {
    label[for="menu-toggle"] {
      display: inline-block;
      margin-left: auto;
      align-self: flex-end;
      text-transform: uppercase;
      font-weight: normal;
      letter-spacing: 0.5em;
      cursor: pointer;
    }

    .main-menu {
      height: 0;
      transform: scaleY(0);
      transform-origin: top;
      visibility: hidden;
      transition: all 0.25s ease;
    }

    #menu-toggle:checked ~ .main-menu {
      height: auto;
      transform: scaleY(1);
      visibility: visible;
    }
  }

  .site-title ~ .main-menu,
  .site-title ~ label[for="menu-toggle"] {
    margin-right: 0;
  }
}

/*
  # Site Content
    Everything between the header and the footer, including page-specific styles.
*/
.page {
  .page-header {
    margin-bottom: $spacing-unit;

    .page-title {
      font-weight: 600;
      margin-bottom: 0;
      @include relative-font-size(1.875);
      text-transform: uppercase;
      letter-spacing: 0.2em;
      max-width: 550px;
    }
  }

  .page-content {
    a {
      color: $color-details;

      &:hover,
      &:focus {
        color: $color-accent;
      }
    }

    .funds-list {
      text-align: center;
      font-weight: 700;
      display: block;

      li {
        display: block;
        margin-top: $spacing-unit / 2;
        margin-bottom: $spacing-unit / 2;
      }
    }

    .partners-list {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;

      li {
        display: inline-block;
        margin: $spacing-unit;

        img {
          max-width: 150px;
        }
      }
    }
  }
}

// Home Page
.home {
  .site-header {
    flex-flow: 0 0 auto;
    label[for="menu-toggle"] {
      margin-right: auto;
    }
  }

  .site-content {
    height: calc(#{100vh} - #{115px});
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: center;
  }

  h1 {
    font-weight: 600;
    @include relative-font-size(2);
    margin-bottom: $spacing-unit;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    text-align: center;
    color: $color-details;
    margin-bottom: $spacing-unit * 2;
    margin-top: 0;

    &::after {
      content: none;
    }
  }

  p {
    text-align: center;
  }
}

// Funds
.products {
  display: flex;
  flex-flow: row wrap;

  h2 {
    flex: 0 0 100%;
    max-width: none;
  }

  .product {
    flex: 0 0 33%;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 $spacing-unit;

    h3 {
      margin-top: $spacing-unit * 2;
      margin-bottom: $spacing-unit / 2;
      text-align: left;

      &::after {
        content: none;
      }
    }

    @include on-palm {
      flex: 0 0 100%;
      width: 100%;
    }
  }
}

// Team
.profile {
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit * 4;
  position: relative;
  padding-left: 175px;

  img {
    position: absolute;
    top: 0;
    left: 0;
  }

  @include on-palm {
    padding-left: 0;

    img {
      display: none;
    }
  }

  strong {
    color: rgba($color-text, 0.7);
    display: inline-block;
    margin-bottom: $spacing-unit / 2;
  }

  em {
    display: inline-block;
    margin-bottom: $spacing-unit / 2;
  }
}

/*
  # Site Footer
    Language switcher and site credits.
*/
.site-footer {
  text-align: center;
  @include relative-font-size(0.75);
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;

  a {
    text-transform: uppercase;
    letter-spacing: 0.3em;
  }

  a:not(:last-child) {
    margin-right: $spacing-unit;
  }

  .disclaimer {
    .seal {
      display: inline-block;
      float: left;
      background: $color-details;
      line-height: 0;
      margin-right: $spacing-unit / 2;
      margin-bottom: $spacing-unit / 4;

      img {
        width: 200px;
      }

      @include on-palm {
        float: none;
        margin-bottom: $spacing-unit / 2;
        margin-left: auto;
        margin-right: auto;

        img {
          width: 100%;
        }
      }
    }

    margin-top: $spacing-unit;
    text-align: justify;
    max-width: none;
  }
}
