<!DOCTYPE html>
<html lang="{{ page.lang | default: 'pt' }}">
  {% include head.html %}

  <body class="{{ page.slug | default: page.url | slugify }}">

    <div id="site">
      {% include header.html %}

      <main id="content" class="site-content">
        {{ content }}
      </main>

      {% include footer.html %}
    </div>

    {%- if page.url == '/x' or page.url contains "genesisx" -%}
      {%- include dialog.html -%}

      <script type="text/javascript" src="{{ '/assets/scripts/jquery.js' | relative_url }}"></script>
      <script type="text/javascript" src="{{ '/assets/scripts/jquery.cookie.js' | relative_url }}"></script>
      <script type="text/javascript" src="{{ '/assets/scripts/dialog-polyfill.js' | relative_url }}"></script>

      <script type="text/javascript">
        var page_path;

        if( window.location.pathname == "/" ) {
          page_path = "home";
        } else {
          page_path = window.location.pathname;
        }

        if( $.cookie(page_path) == undefined ) {
          var dialog = document.querySelector('dialog');
          dialogPolyfill.registerDialog(dialog);
          dialog.showModal();

          $.cookie(page_path, 'true', {
            expires: 1
          });
        }
      </script>
    {%- endif -%}
  </body>
</html>
