<!DOCTYPE html>
<html lang="{{ page.lang | default: 'pt' }}">
  {% include head.html %}

  <body class="{{ page.slug | default: page.url | slugify }}">

    <div id="site">
      {% include header.html %}

      <main id="content" class="site-content">
        {{ content }}
      </main>

      {% include footer.html %}
    </div>

    {%- if page.url == '/' or page.url contains "fundos_xx" -%}
      {%- include dialog.html -%}

      <script type="text/javascript" src="{{ '/assets/scripts/dialog-polyfill.js' | relative_url }}"></script>
      
      <script type="text/javascript">
        var dialog = document.querySelector('dialog');
        dialogPolyfill.registerDialog(dialog);
        dialog.showModal();
      </script>
    {%- endif -%}
  </body>
</html>
